In [2]:
#!gsutil ls
#!gsutil cp -r "gs://ba820-project/Yelp JSON" data
#!tar -xvf data/'Yelp JSON'/yelp_dataset.tar
#!pip install pyarrow

In [3]:
# Ignore the below. Code to convert json to parquet. Do not rerun code.
#path = 'yelp_academic_dataset_business.json'
#path1 = 'yelp_academic_dataset_user.json'
#path2 = 'yelp_academic_dataset_review.json'
#business = pd.read_json(path, lines = True)
#user = pd.read_json(path1, lines = True)
#chunk_size = 100000
#dfs = []
#for chunk in pd.read_json(path2, lines=True, chunksize=chunk_size):
    #dfs.append(chunk)
#df = pd.concat(dfs, ignore_index=True)

In [6]:
import pandas as pd
users = pd.read_parquet("users.parquet")

In [1]:
business = pd.read_json("yelp_academic_dataset_business.json", lines = True)

NameError: name 'pd' is not defined

In [5]:
review = pd.read_parquet("reviews.parquet")

In [6]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15